.hero{
 height: 1000px;
 padding-top: 225px;
  
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(../../images/header-bg.jpg);
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(../../images/header-bg2x.jpg);
        }
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
         

        color: $secondary-txt-color;
}

.hero-pretitle{
   
    text-align: center;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.5em;
    margin-bottom: 30px;
}

.hero-title{
    
    text-align: center;
    font-family: Banny;
    font-size: 96px;
    margin-bottom: 38px;
    &::after{
        content: '';
        display: block;
        margin: 30px auto;
        width: 60px;
        height: 5.11px;
        background:$focus-color;
        border-radius: 50px;
    }
    
}

.hero-buttons-list{
    display: flex;
    justify-content: center;
}

.hero-buttons-item{
    font-size: 12px;
    line-height: 1.5;
    width: 200px;
    height: 60px;

    color: $secondary-txt-color;

    background-color: transparent;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
    &:focus,&:hover{
        background-color: $focus-color;
        border-color: $focus-color;
        outline: none;
    }
    
}
.hero-buttons-list li:first-child{
   
        margin-right: 49px;
    
}